<form action="<%= @delete_form_action %>" method="post">
  <input class="button button-delete" type="submit" value="<%= @delete_form_button %>" />
  <input type="hidden" name="_method" value="delete" />
</form>
