<% if @table_data.empty? %>
  <%= erb(:'partials/no_data_message') %>
<% else %>
  <% table_headers = @table_data.first.to_titles() %>
  <table>
    <thead>
      <tr class="header-row">
        <% column_names = [] %>
        <% @table_data.first.keys.each do |column_name| %>
          <% header_data = table_headers[column_name] %>
          <% column_title = column_name %>
          <% column_title = header_data if header_data != nil %>
          <th><%= column_title %></th>
          <% column_names.push( column_name ) %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @table_data.each do |data_row| %>
        <tr>
          <% column_names.each do |column_name| %>
            <td><%= data_row[column_name] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
