<div class="home-div">
  <p class="home-p">Welcome to DoDaS</p>
  <p class="home-p home-subtitle">the Dodgerblue Database Seeding tool</p>
  <a class="button home-button" href="/databases">Click to begin</a>
</div>
