body {
  font-family: monospace;
}

body, a {
  color: dodgerblue;
}

h1, h2, h3 {
  font-weight: bold;
  padding: 10px;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

a:visited {
  color: dodgerblue;
}

a {
  cursor: pointer;
}

.breadcrumb {
  display: inline-block;
  font-size: 24px;
}

.breadcrumb-current {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.button, label, input {
  display: inline-block;
  font-size: 24px;
  margin: 12px;
  text-decoration: none;
}

.button, input {
  background-color: white;
  border: 3px dodgerblue solid;
}

.button {
  cursor: pointer;
  padding: 10px;
  font-size: 25px;
  font-family: monospace;
  box-sizing: border-box;
}

.no-data {
  color: lightgrey;
  font-size: 2em;
  font-style: italic;
}

.seed-setting {
  font-size: 20px;
  padding: 5px;
}

.seed-setting-column {
  font-size: 24px;
  font-weight: bold;
}

#container {
  padding: 30px;
}

label {
  cursor: pointer;
}

input {
  color: dodgerblue;
  padding: 3px;
}

input:disabled {
  color: lightgrey;
  border: 1px solid lightgrey;
}

input[type="number"] {
  width: 60px;
}

hr {
  border: 1px dodgerblue solid;
  margin: 25px 0px 25px 0px;
}


/* TABLES */
table, thead, th, tr, td {
  border-color: dodgerblue;
  border-style: solid;
  margin: 12px;
}

table {
  margin: 25px 12px;
}

td, th {
  border-width: 1.5px;
  padding: 5px 7px;
}

table {
  border-collapse: collapse;
  border-width: 3px;
  cursor: cell;
}

thead {
  background-color: dodgerblue;
  color: white;
}

tr:hover, .button:hover {
  background-color: lightblue;
}

th {
  font-size: 18px;
}

td {
  font-family: 'Cutive Mono', monospace;
}

.inactive-cell {
  background-color: #CDE;
}

.header-row:hover {
  background-color: dodgerblue;
}

/* HOME PAGE */

.home-div {
  background-color: dodgerblue;
  flex-direction: column;
  height: 600px;
  text-align: center;
}

.home-p {
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 70px;
  margin: 50px auto;
  text-decoration: underline;
  width: 100%;
}

.home-subtitle {
  font-size: 35px;
  text-decoration: none;
  font-style: italic;
}

.home-button, .home-button:visited {
  color: white;
  background-color: dodgerblue;
  border-color: white;
  font-size: 55px;
  margin-top: 100px;
  padding: 30px;
  border-radius: 20px;
}

.home-button:hover {
  background-color: lightblue;
}

.highlight {
  background-color: lightgreen;
}

.button-delete:hover {
  background-color: lightpink;
  color: red;
}
