body {
  font-family: monospace;
}

body, a {
  color: dodgerblue;
}

h1, h2, h3 {
  font-weight: bold;
  padding: 10px;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

a:visited {
  color: dodgerblue;
}

a {
  cursor: pointer;
}

.breadcrumb {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 40px;
}

.breadcrumb-current {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.button {
  border: 3px dodgerblue solid;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  margin: 12px;
  padding: 5px 7px;
  text-decoration: none;
}

.no-data {
  color: lightgrey;
  font-size: 2em;
  font-style: italic;
}

#container {
  padding: 30px;
}

hr {
  border-color: dodgerblue;
  margin: 25px 0px 15px 0px;
}


/* TABLES */
table, thead, th, tr, td {
  border-color: dodgerblue;
  border-style: solid;
  margin: 12px;
}

td, th {
  border-width: 1.5px;
  padding: 5px 7px;
}

table {
  border-collapse: collapse;
  border-width: 3px;
  cursor: cell;
}

thead {
  background-color: dodgerblue;
  color: white;
}

tr:hover, .button:hover {
  background-color: lightblue;
}

th {
  font-size: 18px;
}

.header-row:hover {
  background-color: dodgerblue;
}

td {
  font-family: 'Cutive Mono', monospace;
}
