<% @current_path = :data%>
<% @current_route = :index %>
<%= erb(:'partials/breadcrumb') %>

<hr>

<% new_href = "/databases/#{@db_name}/tables/#{@table_name}/data" %>
<a class="button" href="<%= new_href %>">Cancel</a>

<hr>

<% form_action = "/databases/#{@db_name}/tables/#{@table_name}/data" %>
<form action="<%= form_action %>" method="post">

  <%= erb(:'partials/table') %>

</form>
